{{> searchBar}}

<div class="container mt-5" id="error-searh">
  <div class="error-text">
    <i class="fa-solid fa-face-sad-tear"></i>
    <p>Oops... No matching restaurant found.</p>
  </div>
</div>